.center-block {
    float: none;
}

.graph-block {
    /*Makes it create a scrollbar on small screens*/
    max-width: 100%;
    overflow-x: auto;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

svg *{
	stroke: white;
	color: white;
  fill: #DF691A;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	text-align: center;
}

.data-connect{
  cursor: pointer;
}

circle.active{
  fill: #5CB85C;
  transform: scale(1.5);
}

circle.clicked{
  /*stroke: #5BC0DE;*/
  stroke-width: 3px;
}

.pca-point circle{
  transition: transform 1s;
}